/* Animated Gradient Text */
.animatedGradientText {
  background: linear-gradient(90deg, #2c72ff, #d227fc, #2c72ff);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: scroll-gradient 3s linear infinite;
}

.cardBg {
  background: linear-gradient(106.42deg, #2c72ff 2.78%, #d227fc 101.49%);
  
  /* width: max-content; */
  /* background: linear-gradient(106.42deg, #2c72ff, #d227fc, #2c72ff); */
  background-size: 300% 300%;
  animation: moveGradient 6s ease infinite;
}

.nonMarquee {
  display: inline-block;
  white-space: nowrap;
  color: transparent;
  font-family: "Voltaire";
  font-weight: 400;
  -webkit-text-stroke: 1px #FFFFFF2B;
  text-stroke: 1px #FFFFFF2B;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scroll-gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}


@media (width >= 768px) {
  .seconCardData {
    overflow:initial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
  }
}


@media (width >= 1280px) {
  .seconCardData {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap : 0rem;
  }
}

@media (width <= 600px) {
  .seconCardData {
    overflow:initial;
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    overflow-x: auto;
    justify-items: flex-start !important;
  }
}


