.gradientBorder {
  background: linear-gradient(90deg, #9e00ff, #ff00a6);
  padding: 2px;
  border-radius: 18px;
  clip-path: polygon(
    0% 0%,
    20% 0%,
    25% 6%,
    75% 6%,
    80% 0%,
    100% 0%,
    100% 100%,
    0% 100%
  );
}

.customCard {
  padding: 2rem;
  position: relative;
  background-color: #000;
  border-radius: 18px;

  clip-path: polygon(
    0% 0%,
    20% 0%,
    25% 6%,
    75% 6%,
    80% 0%,
    100% 0%,
    100% 100%,
    0% 100%
  );
}
